{% extends 'base.html' %}
{% block title %}
    Подробная информация о туре
{% endblock %}
{% block container %}
    <main class="container">
        <section class="mt-3 pb-5">
            <h1 class="display-3 mt-4">{{ turinfo.title }} {{ '*'* turinfo.stars|int }}</h1>
            <p><strong>Страна:</strong> {{ turinfo.country }} </p>
            <p><strong>Длительность:</strong> {{ turinfo.nights }} ночей</p>
            <p><strong>Дата выезда:</strong> {{ turinfo.date }} </p>
            <p><strong>Цена:</strong> {{ turinfo.price }} руб</p>
            <p><strong>Отправление:</strong> {{ departures[turinfo.departure] }} </p>
            <img src="/static/images/t{{ turid }}.jpg" class="w-75" alt="">
            <p class="my-4 w-75">{{ turinfo.description }}</p>
            <a href="https://vk.com" class="btn btn-success btn-lg">Купить тур</a>
        </section>
    </main>
{% endblock %}